---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
import FirstStrip from "../components/FirstStrip.astro";
import ProjectSlider from "../components/ProjectSlider.astro";
import ProjectSection from "../components/ProjectSection.astro";
import About from "../components/About.astro";
import TestimoniaSlider from "../components/TestimoniaSlider.astro";
import FooterSection from "../components/FooterSection";
---

<Layout title="Portfolio">
  <main class="font-main">
    <Navbar />
    <Hero />
    <FirstStrip />
    <ProjectSection />
    <ProjectSlider />
    <About />
    <TestimoniaSlider />
    <FooterSection />
  </main>
</Layout>
