<div class="h-[150vh] overflow-hidden bg-[#181818]">
  <div
    class="mx-auto flex h-[450px] w-[70%] translate-y-96 overflow-hidden bg-[#2d2a24]"
  >
    <!-- img  -->
    <div class="w-[40%]">
      <div
        class={`relative ml-10 mt-5 w-[80%] 
        before:absolute before:top-[30%] before:-right-10 before:h-14 before:w-14 before:rounded-full
      before:bg-red-500 before:bg-gradient-to-br before:from-purple-600 before:to-orange-400 
        before:ring-4 before:ring-[#2d2a24] before:content-['Hire'] before:text-white before:text-center
        before:pt-4 before:font-semibold`}
      >
        <img src="photographer-description.jpg" class="" alt="" />
      </div>
    </div>
    <!-- text  -->
    <div class="w-[60%] pl-14 pt-8 text-zinc-200">
      <h1 class="text-3xl text-[#e4b350]">— Hello, I'm</h1>
      <h1 class="font-Cormorant text-6xl">Terence Tao</h1>
      <p class="mt-5 pr-10">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
        libero, officia odio delectus corporis ducimus, consequuntur maxime
        magnam itaque sint maiores fuga voluptatum reiciendis nisi deserunt
        ipsum ut exercitationem fugit possimus vel in. Temporibus odit fuga quis
      </p>
      <ul class="list-disc pl-5 pt-4">
        <li>Lorem, ipsum dolor.</li>
        <li>Lorem, ipsum dolor.</li>
      </ul>
      <div class="mt-4 flex justify-around pl-0">
        <div class="flex flex-col">
          <span class="text-center uppercase tracking-tighter text-[#666157]"
            >text</span
          >
          <span class="text-4xl">300k</span>
        </div>
        <div class="flex flex-col">
          <span class="text-center uppercase tracking-tighter text-[#666157]"
            >text</span
          >
          <span class="text-4xl">300k</span>
        </div>
        <div class="flex flex-col">
          <span class="text-center uppercase tracking-tighter text-[#666157]"
            >text</span
          >
          <span class="text-4xl">300k</span>
        </div>
      </div>
    </div>
  </div>
</div>
