<div class="relative h-[90vh] bg-[#181818]">
  <!-- blob  -->
  <div
    class="absolute mx-auto h-72 w-72 animate-customPulse rounded-full bg-[#e4b350] opacity-10 blur-3xl md:left-20 md:mx-0"
  >
  </div>
  <div class="flex h-full flex-col items-center md:flex-row">
    <!-- text  -->
    <div class="mt-20 h-20 w-20 md:hidden">
      <img
        src="photographer.jpg"
        class="h-full w-full rounded-full object-cover object-center"
        alt=""
      />
    </div>
    <div class="h-full px-5 pt-5 md:w-[60%] md:pt-28 md:pl-32">
      <h1
        class="text-center font-Cormorant text-7xl font-light text-zinc-100 md:text-left"
      >
        <span class="text-[#e4b350]"> Capturing</span> Your <br /> Priceless Moments
      </h1>
      <h1
        class="pl-2 pt-10 text-center font-semibold text-zinc-300 md:text-left"
      >
        <span class="px-2 text-[#e4b350]/90">—</span> I am <span
          class="relative before:absolute before:top-[145%] before:h-[2px] before:w-[120%] before:rotate-[-3deg] before:bg-[#e4b350]/80 after:absolute after:top-[140%] after:left-0 after:h-[2px] after:w-[110%] after:rotate-[2deg] after:bg-[#e4b350]/50"
        >
          Lorem. With 10+</span
        > years of experience
      </h1>
    </div>
    <!-- img div  -->
    <div class="hidden h-full w-[40%] md:inline">
      <div class="relative mx-auto mt-10 h-[80%] w-[65%] overflow-hidden">
        <img src="photographer.jpg" alt="" />
        <div
          class="absolute bottom-0 h-20 w-20 rounded-full bg-[#e4b350] shadow-2xl ring-4 ring-[#181818]/60"
        >
          <div
            class="absolute bottom-4 left-[15px] h-12 w-12 rounded-full border-2 border-dashed border-[#181818]"
          >
            <img src="camera.png" class="ml-2 mt-[6px] flex w-7" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
