<div class="relative h-[90vh] bg-[#181818]">
  <!-- blob  -->
  <div
    class="absolute left-20 h-72 w-72 animate-customPulse rounded-full bg-[#e4b350] opacity-10 blur-3xl"
  >
  </div>
  <div class="flex h-full">
    <!-- text  -->
    <div class="h-full w-[60%] pl-32 pt-32">
      <h1 class="font-Cormorant text-7xl font-light text-zinc-100">
        <span class="text-[#e4b350]"> Capturing</span> Your <br /> Priceless Moments
      </h1>
      <h1 class="pl-2 pt-10 font-semibold text-zinc-300">
        <span class="px-2 text-[#e4b350]/90">—</span> I am <span
          class="relative before:absolute before:top-[145%] before:h-[2px] before:w-[120%] before:rotate-[-3deg] before:bg-[#e4b350]/80 after:absolute after:top-[140%] after:left-0 after:h-[2px] after:w-[110%] after:rotate-[2deg] after:bg-[#e4b350]/50"
        >
          Lorem. With 10+</span
        > years of experience
      </h1>
    </div>
    <div class="h-full w-[40%]">
      <div
        class="relative mx-auto mt-10 h-[80%] w-[65%] overflow-hidden bg-[url('photographer.jpg')] bg-cover"
      >
        <div
          class="absolute bottom-0 h-20 w-20 rounded-full bg-[#e4b350] shadow-2xl ring-4 ring-[#181818]/60"
        >
          <div
            class="absolute bottom-4 left-[15px] h-12 w-12 rounded-full border-2 border-dashed border-[#181818]"
          >
            <img src="camera.png" class="ml-2 mt-[6px] flex w-7" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
