<div
  class="flex h-16 items-center justify-around border-b-2 border-b-zinc-300/10 bg-[#181818]"
>
  <div>
    <p class="text-lg font-semibold uppercase text-zinc-200">
      <span class="text-[#e4b350]">Yo</span>urLogo.
    </p>
  </div>
  <div class="flex gap-10 text-sm font-semibold text-zinc-400">
    <p>My Work</p>
    <p>Pricing</p>
    <p>About Me</p>
  </div>
  <div>
    <button
      class="bg-gradient-to-br from-purple-700 to-orange-400 px-3 py-2 text-sm font-bold text-white"
      >Contact me!</button
    >
  </div>
</div>
