<div class="flex h-screen bg-[#181818]">
  <!-- left div  -->
  <div
    class="flex h-screen w-1/2 flex-col gap-1 pt-16 pl-28 font-Cormorant text-5xl text-[#454545]"
  >
    <h1 class="hover:text-white">Model</h1>
    <h1 class="hover:text-white">Fashion</h1>
    <h1 class="hover:text-white">Product</h1>
    <h1 class="hover:text-white">Landscape</h1>
    <h1 class="hover:text-white">Corporate</h1>
    <h1 class="hover:text-white">Architecture</h1>
    <h1 class="hover:text-white">Event Wedding</h1>
    <h1 class="hover:text-white">Health & Wellnes</h1>
    <h1 class="hover:text-white">Food & Restaurant</h1>
  </div>
  <!-- right div  -->
  <div class="h-screen w-1/2">
    <div class="relative mx-auto mt-14 h-[410px] w-[55%]">
      <div
        class="absolute -left-6 top-36 h-14 w-14 rounded-full bg-[#ffbb25] ring-4 ring-[#181818]"
      >
        <img src="arrow.png" class="ml-2 mt-1 w-10 rotate-[135deg]" alt="" />
      </div>
      <div
        class="mx-auto mt-16 h-[450px] w-full bg-[url('model.jpg')] bg-cover bg-center"
      >
      </div>
    </div>
  </div>
</div>
