<div class="h-56 w-full overflow-hidden bg-[#2d2a24]">
  <div
    class="mt-4 flex h-48 w-full border-y-8 border-dashed border-y-[#181818] pl-10"
  >
    <div class="flex w-1/2 items-center justify-center gap-6">
      <img src="yellowcamera.png" class="w-16 object-contain" alt="" />
      <p class="w-2/3 text-xl font-semibold text-[#eebd48]/75">
        Lorem ipsum dolor sit amet. <br /> Lorem, ipsum dolor.
      </p>
    </div>
    <div class="flex w-1/2 items-center justify-center gap-6">
      <div
        class="h-14 w-14 rounded-full bg-gradient-to-br from-purple-700 to-yellow-600 pt-4 text-center font-semibold text-white"
      >
        Hire
      </div>
      <p class="w-2/3 text-xl font-semibold text-[#eebd48]/75">
        Lorem, ipsum. <br /> Lorem ipsum dolor sit.
      </p>
    </div>
  </div>
</div>
